<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2022 Martin Scheiber and Roland Jung, and others,
  Control of Networked Systems, University of Klagenfurt, Austria.

  All rights reserved.

  This software is licensed under the terms of the APACHE2-License,
  the full terms of which are made available in the LICENSE file.

  You can contact the author at <martin.scheiber@ieee.org> and
  <roland.jung@ieee.org>.
-->
<launch>

  <!-- Recording Options -->
  <arg name="rosbag_path"         default="$(env HOME)/recordings" />
  <arg name="rosbag_prefix"       default="cam" />
  <arg name="rosbag_topics"       default="[/mission_cam/image_raw]" />

  <!-- Nodelet Manager Options -->
  <arg name="start_manager"         default="false" />
  <arg name="nodelet_manager_name"  default="nodelet_manager" />
  <arg name="respawn"               default="false" />

  <!-- Nodelet Options -->
  <arg name="nodelet_name"          default="record_nodelet" />

  <!--node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen">
    <param name="rosbag_record_topics" value="/mission_cam/image_raw" />
    <param name="rosbag_path" value="/home/core/rec_media/test.bag" />
  </node-->

  <group if="$(arg start_manager)">
    <node type="nodelet" pkg="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" respawn="$(arg respawn)" />
  </group>

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)" args="load nodelet_rosbag/NodeletRosbag $(arg nodelet_manager_name)">
    <!-- <param name="rosbag_path" value="/home/core/rec_media/test.bag" />-->

    <rosparam param="rosbag_record_topics" subst_value="True">$(arg rosbag_topics)</rosparam>
    <param name="rosbag_path"     value="$(arg rosbag_path)/$(arg rosbag_prefix)" />
  </node>
</launch>
